/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* THEME VARIABLES */
:root {
  --bg-color-light: white;
  --bg-color-dark: #121212;

  --text-color-light: black;
  --text-color-dark: white;

  --button-bg-light: rgb(128, 128, 221);
  --button-bg-dark: rgb(13, 13, 141);

  --navbar-bg-light: #f9f9f9;
  --navbar-bg-dark: #333;

  --border-color-light: #ddd;
  --border-color-dark: #333;

  --input-bg-light: #fff;
  --input-bg-dark: #222;

  --status-color-light: green;
  --status-color-dark: lightgreen;

  --button-hover-bg-light: rgb(13, 13, 141);
  --button-hover-bg-dark: rgb(128, 128, 221);
}

/* LIGHT MODE */
body.light {
  background-color: #ddd;
  color: var(--text-color-light);
}




body.light .create-post-container,
body.light .input-field {
  background-color: #080808;
  color: #007bff;
  border-color: var(--border-color-light);
}

body.light .btn-logout {
  background-color: var(--button-bg-light);
}

body.light .btn-logout:hover {
  background-color: var(--button-hover-bg-light);
}

/* DARK MODE */
body.dark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

/* body.dark .navbar {
  background-color: var(--navbar-bg-dark);
} */

body.dark .create-post-container,
body.dark .input-field {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  border-color: var(--border-color-dark);
}

body.dark .btn-logout {
  background-color: var(--button-bg-dark);
}

body.dark .btn-logout:hover {
  background-color: var(--button-hover-bg-dark);
}

body.dark a{
  color: #28a745;
}

.body.light a{
  color: #007bff;
}

body{
  position: relative;
}

/* LAYOUT */
.container {
  /* height: 90vh; */
  width: 1200px;
  height: 100%;
  /* position: relative; */
 
  margin: 0 auto;
}
.container2 {
  width: 1200px;
 
  margin: 0 auto;
}
.container4 {
  width: 500px;
 
  margin: 1rem auto;
}
.container .form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  

}
.container .form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  

}
.container2 .form2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  /* max-width: 900px; */
  margin: 0 auto;
  position: relative;

}

.container .form .pass{
  position: absolute;
  top: 46%;
  left: 85%;
  width: 26px;
  transform: translateY(50%);
}
.container .form .inp{
  width: 400px;
  height: 50px;
  text-indent: 20px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px 25rem;
  background: transparent;

}

.container4 .form4 .inp{
  width: 80%;
  height: 50px;
  text-indent: 20px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px 5rem;
  background: transparent;

}

.container2 .form2 h2{
  margin-top: 4rem;
  text-align: center;
}
.container2 .form2 .inp1{
  width: 30%;
  height: 50px;
  text-indent: 20px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
 
  background: transparent;
  margin: 10px 25rem;

}

.container2 .form2 .link1{
  margin: 20px 25rem;
}

.container2 .form2 .btn3{
  width: 6rem;
  padding: 0.6rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 17px;
  background-color: #00ff9d;
  color: black;
  font-weight: 900;
  margin: 5px 25rem;

}
.container2 .form2 .btn4{
  width: 6rem;
  padding: 0.6rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 17px;
  background-color: #00ff9d;
  color: black;
  font-weight: 900;
  margin: 5px 25rem;

}

.container form h1{
  text-align: center;
  margin: 2rem 35rem;
}


body.dark .pass{
  filter: brightness(0) invert(1);
}
body.dark .pass3{
  filter: brightness(0) invert(1);
}
.container4 .form4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  max-width: 900px;
  width: 80%;
  height: 600px;
  margin: 1rem 1rem;
 
 
}
.container4 .pass1{
  width: 26px;
  position: absolute;
  top: 46.5%;
  left: 58.5%;
 
}

.container4 .form4 .form-content{
  margin: -0.5rem 5rem;
  width: 350px;
  font-size: 18px;
}
.container4 .form4 .emailotp{
  margin-left: 5rem;
  margin-top: 10px;
}

body.dark .pass1{
  filter: brightness(0) invert(1);
}


.container .form a{
  margin-left: 10px;
}

.container .form .forgot{
  margin-left: 24rem;
  margin-top: -1rem;
 
}
.container .form .form-content{
  width: 320px;
  margin: 1rem 24rem;
  /* border: 1px solid red; */
}

body.dark .inp{
  color: #ddd;
}

.container4 .form4 h1{
  text-align: center;
  margin-top: 1rem;
  margin-left: 5rem;
  font-size: 25px;
}

a {
  text-decoration: none;
}

 .error {
  font-size: large;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background-color: lightpink;
  color: red;
}

.success {
  background-color: lightgreen;
  color: blue;
  font-size: large;
  width: 70%;
  border-radius: 10px;
  padding: 10px;
}
.delete {
  background-color: lightgreen;
  color: green;
  font-size: large;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}



.delete-message{
  width: 100%;
  /* border: 2px solid orange; */
}

body.dark .delete-message h3{
  color: black;
}



.container .form .btn{
  width: 6rem;
  padding: 0.6rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 17px;
   background-color: #00ff9d;
  color: black;
  font-weight: 900;
  margin: 1rem 34rem;
}
.container4 .form4 .btn{
  width: 6rem;
  padding: 0.6rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 17px;
   background-color: #00ff9d;
  color: black;
  font-weight: 900;
  margin: 1rem 13rem;
}



/* NAVIGATION */
.nav-bar {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
 
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  /* margin-top: 10px; */
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.btn-logout {
  background-color: crimson;
  border: none;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
}

.theme-toggle-container {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 1001; /* Stay on top */
  position: absolute;
}

/* Hamburger bars */
.bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  transition: 0.3s ease;
}


.post-form input::placeholder{
  color: #e53e3e;
}
.body.light .post-form p{
  color: #007bff;
}

.btn-logout:hover {
  background-color: #e53e3e;
}



/* POST CREATION */
.create-post-container {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 25px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  /* background: var(--bg-color); */
  /* color: var(--text-color); */
  transition: all 0.3s ease-in-out;
}

.body.light .create-post-container{
  background-color: #9559aa;
}

.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 24px;
  font-weight: 600;
}

.post-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid var(--border-color);
  background: var(--input-bg);
  border-radius: 8px;
  font-size: 14px;
  color: var(--text-color);
}

.input-field:focus {
  outline: none;
  border-color: #e1306c;
}

.file-input {
  margin-bottom: 16px;
  color: var(--text-color);
}

.submit-button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.2s;
}
body.dark .submit-button{
  background-color: #28a745;
}
.submit-button:hover {
  background-color: #007bff;
  color: #121212;
}
body.dark .submit-button:hover {
  background-color: #007bff;
}

.status-message {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: var(--status-color);
}

/* PROFILE */
.profile-container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.stats p {
  margin: 0.5rem 0;
}

.btn-follow, .btn-edit {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-follow {
  background-color: #007bff;
  color: white;
}

.btn-edit {
  background-color: #28a745;
  color: white;
}

.profile-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 1.2em;
}

body.dark .profile-info p{
  color: green;
}

body.dark .profile-info h2{
  color: #007bff;

}

.profile-info p {
  margin: 0;
}

.profile-info button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-info button:hover {
  background-color: #45a049;
}

.post {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post img,
.post video {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.post p {
  font-size: 1.1em;
  color: #333;
}

.post button {
  background-color: #2196F3;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.post button:hover {
  background-color: #1976D2;
}

.comments {
  margin-top: 15px;
  font-size: 0.9em;
}

.comments p {
  margin: 5px 0;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input[type="text"]:focus {
  outline: none;
  border-color: #4CAF50;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.profile-photo-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #007bff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



.users{
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin: 1rem auto; */
 
  padding: 1rem;
}

.users img{
  margin-left: -10rem;
}
.users h5{
  font-size: 1.6rem;
  /* text-align: center; */
   margin-left: -9rem;

}

.follow-btn{
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-left: -9rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
   background-color: #00ff9d;
  color: black;
}


/* CSS FOR FORGOT PASSWORD  */



.container .form3 .inp{
  width: 30%;
  height: 50px;
  text-indent: 20px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px 30rem;
  background: transparent;

}




.container .form3 h1{
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}


.container .form3 .btn-2{
  padding: 0.6rem 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 15px;
   background-color: #00ff9d;
  color: black;
  font-weight: 900;
  width: 5rem;
  height: 3rem;
  margin-left: 30rem;
  margin-top: 1rem;
  margin-bottom: 1rem;


}

.container .form3 .btn-1{
  padding: 0.6rem 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 15px;
   background-color: #00ff9d;
  color: black;
  font-weight: 900;
  width: 5rem;
  height: 3rem;
  margin-left: 30rem;
  margin-top: 1rem;
  


}

.container .form3 .link{
  display: block;
  margin-left: 30rem;
  margin-top: 1rem;
}


.container .form3 .pass3{
  width: 22px;
  position: absolute;
  top: 68%;
  left: 63.6%;
  
}

/* Extra small devices (phones, 600px and down) */
@media (min-width: 320px) and (max-width: 480px){
   html,body{
    width: 390px;
    height: 100%;
    position: relative;
    
  }

    .container{
    width: 100%;
    height: 100%;
   
    
    
  }
    .container4{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
    
  }

   .container .form{
    display: flex;
    justify-content: center;
   
    
  }
  .container .form .inp{
    width: 80%;
    margin: 0.5rem 5rem;
   
  }
  .container4 .form4 .inp{
    width: 80%;
    margin: 0.5rem 5rem;
   
  }
  
  .container .form .pass{
    position: absolute;
    left: 96%;
    top: 45%;

  }

  .container2{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

  .nav-bar{
    width: 1200px;
    display: block;
    position: relative;
    height: fit-content;
  }
  .nav-bar .btn-logout{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(90%,60%);
  }
  .create-post-container{
    width: 500px;
    height: fit-content;
   margin: 50px 5rem 5rem 5rem;
  }

  .container .form h1{
    text-align: center;
    margin-top: 3rem;
    margin-left: 10rem;
  }
 

  .container .form .btn{
    margin: 1rem 9.5rem;
  }
  .container4 .form4 .btn{
    margin: 1rem 9rem;
  }
  .container .form .form-content{
    /* border: 1px solid red; */
    width: 350px;
    margin: 1rem 3rem;
    padding: 1rem;
  }
  .container .form .forgot{
    /* display: inline; */
    margin-top: -1.8rem;
    margin-left: 4rem;
    
  }

  .container4 .form4 .pass1{
    position: absolute;
    width: 26px;
    top: 41%;
    left: 82%;
  }
  .container4 .form4 .form-content{
    margin: 1rem 4rem;
    /* border: 1px solid red; */
    width: 320px;
    padding: 1rem;
  }
  .container4 .form4 .emailotp{
    margin-top: -2rem;
    margin-left: 5rem;
  }
  .nav-bar{
    width: 560px;
  }

.container2 .form2 h2{
  text-align: center;
}

.container2 .form2 .inp1{
  width: 60%;
  height: 50px;
  text-indent: 20px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
  background: transparent;
  margin: 0 auto;

}
.container2 .form2 h2{
  text-align: center;
  font-size: 20px;
  margin: 38px 7px;
}

.container2 .form2 .link1{
  margin: 1rem 1rem;
}

.container2 .form2 .btn3{
  width: 6rem;
  padding: 0.8rem 0.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 17px;
  background-color: #00ff9d;
  color: black;
  font-weight: 900;
  margin: 0.5rem 8rem;

}
.container2 .form2 .btn4{
  width: 6rem;
  padding: 0.8rem 0.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 17px;
  background-color: #00ff9d;
  color: black;
  font-weight: 900;
  margin: 0.5rem 8rem;

}

.container2 .form2 .link1{
  margin: 0 6rem;
}

 .container .form3 .inp{
  width: 60%;
  height: 50px;
  text-indent: 20px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px 30rem;
  background: transparent;
  margin: 0.8rem 5rem;
 }
  .container .form3 .btn-2{
  padding: 0.6rem 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 15px;
   background-color: #00ff9d;
  color: black;
  font-weight: 900;
  width: 5rem;
  height: 3rem;
  margin-left: 10rem;

 }

 .container .form3 .btn-1{
  padding: 0.6rem 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 15px;
   background-color: #00ff9d;
  color: black;
  font-weight: 900;
  width: 5rem;
  height: 3rem;
  margin-left: 10rem;

 }

 .container .form3 h1{
 margin-top: 4rem;
 margin-bottom: 0.5rem;
 text-align: center;
 margin-left: 1rem;
 }
 .container .form3 .link{
  /* text-decoration: none; */
  display: block;
  margin: 1rem 4rem;
 }

 .container .form3 .pass3{
  width: 26px;
  position: absolute;
  top: 48%;
  left: 72%;
 }

    .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #222;
    z-index: 1000;
    transition: all 0.3s ease;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    padding: 12px 20px;
    border-bottom: 1px solid #444;
  }
}
